/* =================================== */
/*  Extras
/* =================================== */

/* Bootstrap Specific */

.form-control,
.custom-select {
  border-color: #dae1e3;
  font-size: 16px;
  color: #656565;
}

.form-control:not(.form-control-sm) {
  padding: .810rem .96rem;
  height: inherit;
}

.form-control-sm {
  font-size: 14px;
}

.icon-inside {
  position: absolute;
  right: 15px;
  top: calc(50% - 11px);
  pointer-events: none;
  font-size: 18px;
  font-size: 1.125rem;
  color: #c4c3c3;
  z-index: 3;
}

.form-control-sm+.icon-inside {
  font-size: 0.875rem !important;
  font-size: 14px;
  top: calc(50% - 13px);
}

select.form-control:not([size]):not([multiple]):not(.form-control-sm) {
  height: auto;
  padding-top: .700rem;
  padding-bottom: .700rem;
}

.custom-select:not(.custom-select-sm) {
  height: calc(3.05rem + 2px);
  padding-top: .700rem;
  padding-bottom: .700rem;
}

.col-form-label-sm {
  font-size: 13px;
}

.custom-select-sm {
  padding-left: 5px !important;
  font-size: 14px;
}

.custom-select:not(.custom-select-sm).border-0 {
  height: 3.00rem;
}

.form-control:focus,
.custom-select:focus {
  @include box-shadow(0 0 5px rgba(128, 189, 255, 0.5));
}

.form-control:focus[readonly] {
  box-shadow: none;
}

.input-group-text {
  border-color: #dae1e3;
  background-color: #f1f5f6;
  color: #656565;
}

.form-control {
  &::-webkit-input-placeholder {
    color: #b1b4b6;
  }

  &:-moz-placeholder {
    /* FF 4-18 */
    color: #b1b4b6;
  }

  &::-moz-placeholder {
    /* FF 19+ */
    color: #b1b4b6;
  }

  &:-ms-input-placeholder,
  &::-ms-input-placeholder {
    /* IE 10+ */
    color: #b1b4b6;
  }
}

/* Form Dark */
.form-dark {

  .form-control,
  .custom-select {
    border-color: #232a31;
    background: #232a31;
    color: #fff;
  }

  .form-control:focus {
    border-color: #80bdff !important;
  }

  .form-control {
    &::-webkit-input-placeholder {
      color: #777b7f;
    }

    &:-moz-placeholder {
      /* FF 4-18 */
      color: #777b7f;
    }

    &::-moz-placeholder {
      /* FF 19+ */
      color: #777b7f;
    }

    &:-ms-input-placeholder,
    &::-ms-input-placeholder {
      /* IE 10+ */
      color: #777b7f;
    }
  }

  .custom-select {
    color: #777b7f;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='rgba(250,250,250,0.3)' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 13px 15px;
    border-color: #232a31;
    background-color: #232a31;
  }

  .icon-inside {
    color: #777b7f;
  }
}

/*  Input with only bottom border  */
.form-border {
  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 0px;
    padding-left: 0px !important;
    color: rgba(0, 0, 0, 1);

    &::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.4);
    }

    &:-moz-placeholder {
      /* FF 4-18 */
      color: rgba(0, 0, 0, 0.4);
    }

    &::-moz-placeholder {
      /* FF 19+ */
      color: rgba(0, 0, 0, 0.4);
    }

    &:-ms-input-placeholder,
    &::-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .custom-select {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 0px;
    padding-left: 0px;
    color: rgba(0, 0, 0, 0.4);
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='rgba(0,0,0,0.3)' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 13px 15px;
  }

  .form-control:focus,
  .custom-select:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  }

  .form-control:not(output):-moz-ui-invalid,
  .custom-select:not(output):-moz-ui-invalid {

    &:not(:focus),
    &:-moz-focusring:not(:focus) {
      border-bottom: 2px solid #b00708;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  .icon-inside {
    color: rgba(0, 0, 0, 0.25);
  }

  select option {
    color: #666;
  }
}

.form-border-light {
  .form-control {
    border-bottom: 2px solid rgba(250, 250, 250, 0.3);
    color: rgba(250, 250, 250, 1);

    &::-webkit-input-placeholder {
      color: rgba(250, 250, 250, 0.7);
    }

    &:-moz-placeholder {
      /* FF 4-18 */
      color: rgba(250, 250, 250, 0.7);
    }

    &::-moz-placeholder {
      /* FF 19+ */
      color: rgba(250, 250, 250, 0.7);
    }

    &:-ms-input-placeholder,
    &::-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(250, 250, 250, 0.7);
    }
  }

  .custom-select {
    border-bottom: 2px solid rgba(250, 250, 250, 0.3);
    color: rgba(250, 250, 250, 1);
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='rgba(250,250,250,0.6)' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 13px 15px;
  }

  .form-control:focus,
  .custom-select:focus {
    border-bottom: 2px solid rgba(250, 250, 250, 0.8);
  }

  .icon-inside {
    color: #999;
  }

  select option {
    color: #333;
  }
}

.input-group-append .btn,
.input-group-prepend .btn {
  @include box-shadow(none);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.input-group-append .btn:hover,
.input-group-prepend .btn:hover {
  @include box-shadow(none);
}

@include media-breakpoint-down(xs) {
  .input-group> {

    .input-group-append>.btn,
    .input-group-prepend>.btn {
      padding: 0 0.75rem;
    }
  }
}

.bg-primary,
.badge-primary {
  background-color: $primary-color !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}

.text-primary,
.btn-light,
.btn-outline-light:hover,
.btn-link,
.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active {
  color: $primary-color !important;
}

.btn-link:hover {
  color: $primary-color-hover !important;
}

.text-secondary {
  color: $secondary-color !important;
}

.text-light {
  color: #dee3e4 !important;
}

.text-body {
  color: $text-color !important;
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: $primary-color-hover !important;
}

.border-primary {
  border-color: $primary-color !important;
}

.border-secondary {
  border-color: $secondary-color !important;
}

.border-page {
  border: 1px solid #e9e9e9;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
  }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: $primary-color-hover;
  border-color: $primary-color-hover;

}

.btn-primary.focus,
.btn-primary:focus {
  background-color: $primary-color-hover;
  border-color: $primary-color-hover;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  @include box-shadow(none);
}

.btn-secondary {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn-outline-primary,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff;
  }
}

.btn-outline-secondary {
  color: $secondary-color;
  border-color: $secondary-color;

  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: #fff;
  }
}

.progress-bar,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
.dropdown-item.active,
.dropdown-item:active {
  background-color: $primary-color;
}

.page-item.active .page-link,
.custom-radio .custom-control-input:checked~.custom-control-label:before,
.custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label:before,
.custom-control-input:checked~.custom-control-label:before {
  background-color: $primary-color;
  border-color: $primary-color;
}

.list-group-item.active {
  background-color: $primary-color;
  border-color: $primary-color;
}

.page-link {
  color: $primary-color;

  &:hover {
    color: $primary-color-hover;
  }
}

/* Pagination */

.page-link {
  border: none;
  border-radius: 0.25rem;
  margin: 0 0.22rem;
  font-size: 16px;
  font-size: 1rem;

  &:hover {
    background-color: #e9eff0;
  }
}

/* Vertical Multilple input group */

.vertical-input-group .input-group {
  &:first-child {
    padding-bottom: 0;

    * {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &:last-child {
    padding-top: 0;

    * {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &:not(:last-child):not(:first-child) {
    padding-top: 0;
    padding-bottom: 0;

    * {
      border-radius: 0;
    }
  }

  &:not(:first-child) * {
    border-top: 0;
  }
}

/* styles-switcher */
#styles-switcher {
  background: #fff;
  width: 202px;
  position: fixed;
  top: 35%;
  z-index: 99;
  padding: 20px;
  left: -202px;

  ul {
    padding: 0;

    li {
      list-style-type: none;
      width: 25px;
      height: 25px;
      margin: 4px 2px;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
      transition: all .2s ease-in-out;

      &.blue {
        background: #007bff;
      }

      &.brown {
        background: #795548;
      }

      &.purple {
        background: #6f42c1;
      }

      &.indigo {
        background: #6610f2;
      }

      &.red {
        background: #dc3545;
      }

      &.orange {
        background: #fd7e14;
      }

      &.yellow {
        background: #ffc107;
      }

      &.green {
        background: #28a745;
      }

      &.teal {
        background: #20c997;
      }

      &.cyan {
        background: #17a2b8;
      }

      &.active {
        transform: scale(0.7);
        cursor: default;
      }
    }
  }

  .switcher-toggle {
    position: absolute;
    background: #333;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 0px 4px 4px 0;
    right: -40px;
    top: 0;
    width: 40px;
    height: 40px;
    padding: 0;
  }

  #reset-color {
    background: #e83e8c;
  }
}

input:-internal-autofill-selected {
  background-color: transparent;
}

#styles-switcher.right {
  left: auto;
  right: -202px;
}

#styles-switcher.right .switcher-toggle {
  right: auto;
  left: -40px;
  border-radius: 4px 0px 0px 4px;
}

.login-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.block {
  display: block;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.min-h-0 {
  min-height: 0px;
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.ms-3 {
  margin-inline-start: 0.75rem;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.pt-6 {
  padding-top: 1.5rem;
  /* 24px */
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.w-min {
  width: min-content
}

.w-max {
  width: max-content
}

.w-fit {
  width: fit-content
}

.drop-shadow-sm {
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05))
}

.drop-shadow {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06))
}

.drop-shadow-md {
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06))
}

.drop-shadow-lg {
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1))
}

.drop-shadow-xl {
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08))
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.max-w-0 {
  max-width: 0rem;
  /* 0px */
}

.max-w-none {
  max-width: none;
}

.max-w-xs {
  max-width: 20rem;
  /* 320px */
}

.max-w-sm {
  max-width: 24rem;
  /* 384px */
}

.max-w-md {
  max-width: 28rem;
  /* 448px */
}

.max-w-lg {
  max-width: 32rem;
  /* 512px */
}

.max-w-xl {
  max-width: 36rem;
  /* 576px */
}

.max-w-2xl {
  max-width: 42rem;
  /* 672px */
}

.max-w-3xl {
  max-width: 48rem;
  /* 768px */
}

.max-w-4xl {
  max-width: 56rem;
  /* 896px */
}

.max-w-5xl {
  max-width: 64rem;
  /* 1024px */
}

.max-w-6xl {
  max-width: 72rem;
  /* 1152px */
}

.max-w-7xl {
  max-width: 80rem;
  /* 1280px */
}

.max-w-full {
  max-width: 100%;
}

.max-w-min {
  max-width: min-content;
}

.max-w-max {
  max-width: max-content;
}

.max-w-fit {
  max-width: fit-content;
}

.max-w-prose {
  max-width: 65ch;
}

.max-w-screen-sm {
  max-width: 640px;
}

.max-w-screen-md {
  max-width: 768px;
}

.max-w-screen-lg {
  max-width: 1024px;
}

.max-w-screen-xl {
  max-width: 1280px;
}

.max-w-screen-2xl {
  max-width: 1536px;
}

.rounded-none {
  border-radius: 0px;
}

.rounded-sm {
  border-radius: 0.125rem;
  /* 2px */
}

.rounded {
  border-radius: 0.25rem;
  /* 4px */
}

.rounded-md {
  border-radius: 0.375rem;
  /* 6px */
}

.rounded-lg {
  border-radius: 0.5rem;
  /* 8px */
}

.rounded-xl {
  border-radius: 0.75rem;
  /* 12px */
}

.rounded-2xl {
  border-radius: 1rem;
  /* 16px */
}

.rounded-3xl {
  border-radius: 1.5rem;
  /* 24px */
}

.rounded-full {
  border-radius: 9999px;
}

.fill-none {
  fill: none;
}

.fill-inherit {
  fill: inherit;
}

.fill-current {
  fill: currentColor;
}

.fill-transparent {
  fill: transparent;
}

.fill-black {
  fill: #000;
}

.fill-white {
  fill: #fff;
}

.mt-4 {
  margin-top: 1rem;
  /* 16px */
}

.mt-5 {
  margin-top: 1.25rem;
  /* 20px */
}

.mt-6 {
  margin-top: 1.5rem;
  /* 24px */
}

.mt-7 {
  margin-top: 1.75rem;
  /* 28px */
}

.p-6 {
  padding: 1.5rem;
  /* 24px */
}

.px-6 {
  padding-left: 1.5rem;
  /* 24px */
  padding-right: 1.5rem;
  /* 24px */
}

.py-5 {
  padding-top: 1.25rem!important;
  /* 20px */
  padding-bottom: 1.25rem;
  /* 20px */
}

.py-6 {
  padding-top: 1.5rem;
  /* 24px */
  padding-bottom: 1.5rem;
  /* 24px */
}

.ps-6 {
  padding-inline-start: 1.5rem;
  /* 24px */
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-12 {
  padding-top: 3rem;
  /* 48px */
  padding-bottom: 3rem;
  /* 48px */
}

.text-gray-400 {
  color: rgb(156 163 175);
}

.text-gray-500 {
  color: rgb(107 114 128);
}

.text-gray-600 {
  color: rgb(75 85 99);
}

.text-gray-700 {
  color: rgb(55 65 81);
}

.text-gray-800 {
  color: rgb(31 41 55);
}

.text-gray-900 {
  color: rgb(17 24 39);
}

.text-gray-950 {
  color: rgb(3 7 18);
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}


.text-xs {
  font-size: 0.75rem;
  /* 12px */
  line-height: 1rem;
  /* 16px */
}

.text-sm {
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.25rem;
  /* 20px */
}

.text-base {
  font-size: 1rem;
  /* 16px */
  line-height: 1.5rem;
  /* 24px */
}

.text-lg {
  font-size: 1.125rem;
  /* 18px */
  line-height: 1.75rem;
  /* 28px */
}

.text-xl {
  font-size: 1.25rem;
  /* 20px */
  line-height: 1.75rem;
  /* 28px */
}

.mx-2 {
  margin-left: 0.5rem;
  /* 8px */
  margin-right: 0.5rem;
  /* 8px */
}

.my-2 {
  margin-top: 0.5rem;
  /* 8px */
  margin-bottom: 0.5rem;
  /* 8px */
}

.ms-2 {
  margin-inline-start: 0.5rem;
  /* 8px */
}

.me-2 {
  margin-inline-end: 0.5rem;
  /* 8px */
}

.mt-2 {
  margin-top: 0.5rem;
  /* 8px */
}

.mr-2 {
  margin-right: 0.5rem;
  /* 8px */
}

.mx-4 {
  margin-left: 1rem;
  /* 16px */
  margin-right: 1rem;
  /* 16px */
}

.my-4 {
  margin-top: 1rem;
  /* 16px */
  margin-bottom: 1rem;
  /* 16px */
}

.ms-4 {
  margin-inline-start: 1rem;
  /* 16px */
}

.me-4 {
  margin-inline-end: 1rem;
  /* 16px */
}

.border-gray-200 {
  border-color: rgb(16 119 186);
  border-width: 1px;
}

.border-gray-300 {
  border-color: rgb(209 213 219);
}

.border-gray-400 {
  border-color: rgb(156 163 175);
}

.border-gray-500 {
  border-color: rgb(107 114 128);
}

.border-gray-600 {
  border-color: rgb(75 85 99);
}

.border-gray-700 {
  border-color: rgb(55 65 81);
}

.underline {
  text-decoration: underline;
}

.bg-gray-500 {
  background-color: rgb(107 114 128);
}

.bg-gray-600 {
  background-color: rgb(75 85 99);
}

.bg-gray-700 {
  background-color: rgb(55 65 81);
}

.bg-gray-800 {
  background-color: rgb(31 41 55);
}

.bg-gray-900 {
  background-color: rgb(17 24 39);
}

.bg-gray-950 {
  background-color: rgb(3 7 18);
}

.border-indigo-300 {
  border-color: rgb(165 180 252);
}

.border-indigo-400 {
  border-color: rgb(129 140 248);
}

.border-indigo-500 {
  border-color: rgb(99 102 241);
}

.border-indigo-600 {
  border-color: rgb(79 70 229);
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.text-red-600 {
  color: rgb(220 38 38);
}

.text-red-700 {
  color: rgb(185 28 28);
}

.gap-4 {
  gap: 1rem;
  /* 16px */
}

.gap-x-4 {
  column-gap: 1rem;
  /* 16px */
}

.gap-y-4 {
  row-gap: 1rem;
  /* 16px */
}

.space-x-5 {
  margin-left: 1.25rem;
  /* 20px */
}

.space-y-5 {
  margin-top: 1.25rem;
  /* 20px */
}

.space-x-6 {
  margin-left: 1.5rem;
  /* 24px */
}

.space-y-6 {
  margin-top: 1.5rem;
  /* 24px */
}

li.dropdown {
  margin-top: 16px;
}

.bg-red-500 {
  background-color: rgb(239 68 68);
}

.bg-red-600 {
  background-color: rgb(220 38 38);
}

.bg-red-700 {
  background-color: rgb(185 28 28);
}